/*  Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- Yellow: hsl(47, 88%, 63%)

- White: hsl(0, 0%, 100%)

- Gray 500: hsl(0, 0%, 42%)
- Gray 950: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px/1rem

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --yellow: hsl(47, 88%, 63%); 
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    /* FONT SIZE */
    --text-md: 1rem;
    --text-lg: 1.6rem;
    --text-sm: 0.833rem;

    /* FONT WEIGHT */
    --font-weight-normal: 500;
    --font-weight-bold: 800;

    /* Mobile Resposiveness */

    --mobile: 23.438rem;
}

body {
    font-family: "Figtree", sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--text-md);
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
}

p {
    font-size: var(--text-md);
}

.card {
    background-color: var(--white);
    max-width: 23rem;
    padding: 1.5rem 1.3rem;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 5px var(--gray-950);
    border: 1px solid var(--gray-950);
}

.card-image {
    max-width: 20rem;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card-tag {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    display: inline-block;
    padding: 0.2rem 1rem;
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.card-date {
    font-size: var(--text-sm);
    margin-bottom: 1rem;
}

.card-heading {
    color: var(--gray-950);
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.card-paragraph {
    color: var(--gray-500);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-avatar {
    max-width: 2rem;
    margin-right: 0.5rem;
}

.profile-name {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
}

.attribution { 
    font-size: var(--text-sm);
    text-align: center;
    margin-top: 3rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media (max-width: 23.438rem) {
    h1 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 0.8rem;
    }

    .attribution {
        font-size: 0.8rem;
    }
}